* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #f2f2f2;
  height: 100vh;
  display: grid;
  place-content: center;
}

h1{
  font-size: 4rem;
  color: green;
}

button {
  padding: 1rem 1rem;
  background-color: #f5deb3;
  border: 2px solid black;
  font-size: 1rem;
  border-radius: 100vh;
  margin: 1rem;
  cursor: pointer;
}